@model BerrasBio.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order</h1>
<p>Vänligen skriv in ditt namn</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" placeholder="Name" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>






            <h5>Biljetter</h5>


            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Titel
                        </th>
                        <th>
                            Salong
                        </th>
                        <th>
                            Platsnummer
                        </th>
                        <th>
                            Tid
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ticket.Viewing.Movie.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticket.Viewing.Salon.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticket.Seat.SeatNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ticket.Viewing.FormatedStartTime)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>



            <div class="form-group">
                <input type="submit" value="Confirm order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
