#menuIcon {
    height: 3em;
    width: 3em;
}

#layoutBackground {
    background-color: none !important;
    background-image: url('../Assets/Images/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.gray-box {
    background-color: darkgray;
    border-radius: 5px;
    margin-bottom: 10em;
}

.extraPaddingT2 {
    padding-top: 2em;
}

.extraPaddingB5 {
    padding-bottom: 5em;
}

.nav-login-form {
    position: absolute;
    display: none;
}

.login-navbar:hover > .nav-login-form {
    display: inline-block;
}

.navbar-decoration {
    padding: 0.5em;
    border-radius: 5px;
}
