#menuIcon {
    height: 3em;
    width: 3em;
}

#avatarIcon {
    height: 2em;
    width: 2em;
}

.avatar-icon-container {
    padding: 0.3em;
    border: 1px solid black;
    border-radius: 100%;
    margin-left: auto;
}

#layoutBackground {
    background-color: none !important;
    background-image: url('../Assets/Images/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.gray-box {
    background-color: black;
    border-radius: 5px;
    margin-bottom: 10em;
}

.extraPaddingT2 {
    padding-top: 2em;
}

.extraPaddingB5 {
    padding-bottom: 5em;
}

.nav-my-profile-button-container, .nav-login-form {
    position: absolute;
    top: 3em;
    display: none;
}
/*
.login-navbar:hover > .nav-login-form, .login-navbar:hover > .nav-my-profile-button-container {
    display: inline-block;
}*/

.navbar-decoration {
    padding: 0.5em;
    border-radius: 5px;
}

.login-navbar {
    margin-top: 1em;
    padding-bottom: 1em;
    padding-right: 1.5em;    
}
/*
#Password:active > .nav-login-form, #Password:focus > .nav-login-form, #UserName:active > .nav-my-profile-button-container, #UserName:focus > .nav-my-profile-button-container {
    display: inline-block;
}*/

@media (min-width: 576px) {
    .navbar-decoration {
        position: relative;
        left: auto;
        right: 0vw;
    }

    .login-navbar {
        margin-left: auto;
    }
}

.details-description {
    color: #c2c2c2;
}

.white-text {
    color: #c2c2c2;
}