@model BerrasBio.Models.User

@{

}

<div class="nav-login-form bg-danger navbar-decoration dropdown-menu">
    <form asp-controller="Users" asp-action="Login" method="post">
        <div class="form-group">
            <label for="UserName" class="control-label">Username:</label>
            <input asp-for="UserName" type="text" id="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Password" class="control-label">Password:</label>
            <input asp-for="Password" type="password" id="Password" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Logga in" class="btn btn-primary" />
        </div>
        <a asp-action="Create" asp-controller="Users">Register a new user</a>
    </form>
</div>


