@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <h1 class="contact_us text-primary">Kontakta oss</h1>

    <div class="d-flex justify-content-center">
        <p>Filmgatan 21</p>
        <p>432 21</p>
        <p>VARBERG</p>
    </div>
    <img src="~/Assets/Images/map_direction.png" class="rounded" />
    <p class="text-center">Öpptet alla dagar 14-22</p>
    <p class="text-center">Tel: 0708-324411</p>


</div>