@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center details-description">
    <h1 class="display-4">Welcome to BerrasBio&copy;</h1>
    <p> - Where movies come to life</p>

</div>
<link href="~/css/Home/StartupPageStyleSheet.css" rel="stylesheet" />