@model BerrasBio.Models.Movie

@{
    ViewData["Title"] = "Create";
}

@if(TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

<h1 class="mb-3">Add movie</h1>

<div class="form-group">
    <div class="input-group">
        <input type="search" class="form-control" placeholder="Search for a movie title" id="searchTerm"/>
        <span class="input-group-btn">
            <button class="btn btn-default" id="search">
                <i class="glyphicon glyphicon-search">Search</i>
            </button>
        </span>
    </div>
</div>

<div class="alert-danger" id="error"></div>

<hr />
<div class="row">
    <div class="col-md-4 d-none" id="movieInfo">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" id="title" readonly />
            </div>
            <div class="form-group">
                <label asp-for="LengthMinute" class="control-label"></label>
                <input asp-for="LengthMinute" class="form-control" id="lenght" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Cathegory" class="control-label"></label>
                <input asp-for="Cathegory" class="form-control" id="category" readonly />
            </div>

            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" id="year" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Plot" class="control-label"></label>
                <textarea asp-for="Plot" class="form-control" rows="5" id="plot" readonly></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" id="director" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Actors" class="control-label"></label>
                <input asp-for="Actors" class="form-control" id="actors" readonly />
            </div>

            <div class="form-group">
                <label asp-for="PerentalGuidance" class="control-label"></label>
                <input asp-for="PerentalGuidance" class="form-control" id="pg" readonly />
            </div>

            <div class="form-group">
                <label asp-for="PosterURL" class="control-label"></label>
                <input asp-for="PosterURL" class="form-control" id="url" readonly />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/ApiCalls.js" asp-append-version="true"></script>

<style>
    .container {
        background-color: transparent;
    }

    #layoutBackground {
        background-image: none;
        background-color: white;
    }
</style>